<<<<<<< Updated upstream
html,
body,
#root {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: black;
  overflow-x: hidden;
}

/* main wrapper fills full height */
#main {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #0B0C10;
}

#navBar {
    margin: 2%;
}

/* content row expands */
#mainColumn {
  display: flex;
  flex: 1;            /* stretch vertically */
  width: 100%;
  height: 100%;
=======
html, body, #root
{
    background-color: black;
    max-width: 100%;
    min-height: 95%;
    height:100%;
    overflow-x: hidden;
    
}

#main
{
    position:relative;
    height:95%;
    padding:10px;
}

#mainColumn
{
    float: left;
    width: 56%;
    min-height:100%;
    height: 100%;
>>>>>>> Stashed changes
}

#mainColumn2
{
    width: 43%;
    outline: 5px solid #e9eaf5ff;
    min-height:100%;
    height: 100%;
}

@font-face 
{
    font-family: Nexa-Heavy;
    src: url(/src/assets/Nexa-Heavy.ttf);
    font-weight:bold;
}

p
{
    width: 80%;
    margin-block:0px;
    color: #e9eaf5ff;
	display: block;
    text-align:left;
    font-family: Nexa-Heavy;
    font-size: 1.25em;
}

.title
{
	width: 80%;
    margin-block:0px;
    color: #e9eaf5ff;
	display: block;
    text-align:left;
    font-family: Nexa-Heavy;
    font-size: 2.5em;
}

.LabelButtons
{
    width: 25%;
	margin: 0;
	display: block;
    text-align:left;
}

<<<<<<< Updated upstream
.Map {
    background-color: #000;
  flex: 1;
  width: 100%;
  height: 100;
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.Map img {
  width: 100%;
  height: 100%;
  object-fit: contain;
=======
.Map
{
    border: 5px solid #e9eaf5ff;
    width: 92%;
    height: 60%;
	margin-block: 15px;
	display: block;
    text-align:left;
>>>>>>> Stashed changes
}

text
{
	font-size: 1.5em;
    fill: #e9eaf5ff;
    --outlineSize: 1.5px;
    --outlineSizeNeg: -1.5px;
    --outlineColor: #000;
    /*WARNING!!! the following line sucks*/
    text-shadow: var(--outlineSizeNeg) var(--outlineSizeNeg) 0 var(--outlineColor), var(--outlineSize) var(--outlineSizeNeg) 0 var(--outlineColor), var(--outlineSizeNeg) var(--outlineSize) 0 var(--outlineColor), var(--outlineSize) var(--outlineSize) 0 var(--outlineColor);
    font-family: Nexa-Heavy;
}

#zoomButtons
{
    position:absolute;
    z-index: 2;
    padding:30px;
    margin-block:6px;
    transform:translateX(-30px);
    border: none;
    cursor: pointer;
    background-color: rgba(0,0,0,0);
    background-size: contain; /*containing the beast that is the image*/
    overflow:scroll;
}

#zoomButtons.ZoomInButton
{
    background-image: url(src/assets/zoomInIcon.png);
}

#zoomButtons.ZoomInButton:active
{
    background-image: url(src/assets/zoomInIconClick.png);
}

#zoomButtons.ZoomOutButton
{
    background-image: url(src/assets/zoomOutIcon.png);
    margin-top:70px;
}

#zoomButtons.ZoomOutButton:active
{
    background-image: url(src/assets/zoomOutIconClick.png);
}

.InfoBox
{
    border: 5px solid #e9eaf5ff;
    width:92%;
    height:21%;
    font-size: 1.2em;
    padding:10px;
    overflow:scroll;
}

