html
{
    background-color: black;
}

@font-face {
    font-family: Nexa-Heavy;
    src: url(/src/assets/Nexa-Heavy.ttf);
    font-weight:bold;
}


.title
{
	width: 40%;
    margin-block:0px;
    color: aliceblue;
	display: block;
    text-align:left;
    font-family: Nexa-Heavy;
}

.LabelButtons
{
	margin: 0;
	display: block;
    text-align:left;
}

.Map
{
    border: "1px solid #ccc";
    width: "800px";
	margin: 0;
	display: block;
    text-align:left;
}

text
{
	font-size: 1.5em;
}
