#body-1
{
    padding:20px;
}

.title
{
	margin: 0;
	display: block;
    text-align:left;
}

.LabelButtons
{
	margin: 0;
	display: block;
    text-align:left;
}

.Map
{
    border: "1px solid #ccc";
    width: "800px";
	margin: 0;
	display: block;
    text-align:left;
}