.toolbutt {
  font-size: 1em;          /* smaller size so they fit */
  padding: 1% 2%;
  border: 4px outset darkorchid;
  background-color: darkorchid;
  color: white;
  margin: 0.5em;
  white-space: nowrap;     /* keeps text from breaking */
  flex-shrink: 1;          /* allows shrinking if too many buttons */

  transition: all 0.15s ease;
}


.deleteSingle,.location
{
	display: none;
}

li
{
	color: #e9eaf5ff;
    font-family: Nexa-Heavy;
	margin: 10px 0;
	&:hover>.deleteSingle,&:hover>.location
	{
		display: inline;
	}
}

#shapes
{
	position: absolute;
}

#crosshair
{
	display: none;
}

#outerdiv
{
	text-align:right;
}

#outerdiv:has(>#crosshair:checked)
{
	cursor: crosshair;
}
