.toolbutt
{
	font-size: 1.5em;
	padding: 8px;
	border: 6px outset darkorchid;
	background-color: darkorchid;
	margin: 0.5em;
	&:hover
	{
		border-color: orchid;
		background-color: orchid;
		cursor: pointer;
	}
	&:active
	{
		border-style: inset;
	}
}

.deleteSingle,.location
{
	display: none;
}

li
{
	margin: 10px 0;
	&:hover>.deleteSingle,&:hover>.location
	{
		display: inline;
	}
}

#shapes
{
	position: absolute;
}

#crosshair
{
	display: none;
}

#outerdiv:has(>#crosshair:checked)
{
	cursor: crosshair;
}
